  body {
    background-color: black;
    color: yellow;
    padding: 20px;
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  * {box-sizing: border-box;}
  
  p {
    margin: 0 0 1em 0;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
  }
  
  .container {
    width: 800px;
    height: 15em;
    border: 5px solid rgb(111,41,97);
    border-radius: .5em;
    padding: 10px;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .item {
    margin: auto;
    padding: 5px;
    /* background-color: rgba(111,41,97,.3);
    border: 2px solid rgba(111,41,97,.5); */
  }
  .logos{
    width: 90px;
    height: 7em;
  }